doctype html
- var title = 'JSDC 2016';
- var description = 'JavaScript 開發者年會 ( JavaScript Developers Conference，簡稱 JSDC ) 是台灣最⼤的 JavaScript 年度性技術研討會，旨在提供台灣中⾼階 JavaScript 技術人才與世界最新 JavaScript 相關技術討論與分享。';
- var coverImage = 'http://2016.jsdc.tw/dist/images/jsdc-2015.jpg';
- var cssPath = './dist/css';
- var jsPath = './dist/js';
- var lang = 'zh-hant';

html(lang='#{lang}')
  head

    title #{title}
    // html 設定
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='author', content='JSDC Members')
    meta(name='copyright', content='JSDC Taiwan')
    meta(name='keywords', content='website,javascript,js,JSDC,Taiwan,2016')

    // SEO meta 設定
    meta(itemprop='name', content='#{title}')
    meta(itemprop='description', content='#{description}')
    meta(itemprop='image', content='#{coverImage}')

    // og 設定
    meta(property='og:type', content='website')
    meta(property='og:title', content='#{title}')
    meta(property='og:description', content='#{description}')
    meta(property='og:image', content='#{coverImage}')
    meta(property='og:url', content='http://2016.jsdc.tw/')
    meta(property='og:site_name', content='JSDC 2016')
    
    // twitter 設定
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@jsdc_tw')
    meta(name='twitter:title' content='#{title}')
    meta(name='twitter:description' content='#{description}')
    meta(property='twitter:image', content='#{coverImage}')
    meta(property='twitter:creator', content='@jsdc_tw')
    link(href='#{coverImage}' rel='image_src' type='image/jpeg')

    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-76574910-1', 'auto');
      ga('send', 'pageview');

    // css 設定
    link(rel='shortcut icon', href='./dist/favicons/favicon.ico')
    link(rel='stylesheet', href='#{cssPath}/bootstrap.css')
    link(rel='stylesheet', href='#{cssPath}/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='#{cssPath}/main.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='#{cssPath}/headline.css')

    // js 設定
    script(src='#{jsPath}/jquery-1.11.2.min.js')
    script(src='#{jsPath}/bootstrap.min.js')
    script(src='#{jsPath}/jquery.backstretch.min.js')
    script(src='#{jsPath}/jquery.lazyload.min.js')
    script(src='#{jsPath}/smooth-scroll.min.js')
    script(src='#{jsPath}/skel.min.js')
    script(src='#{jsPath}/util.min.js')
    script(src='#{jsPath}/main.min.js')
    script(src='#{jsPath}/headline.min.js')

  body#h5o-1

    block content

    include ../partials/_footer
    include ../partials/_type-form
