extends ../../views/layout/_en-layout.jade

block title
  title AGENDA｜JSDC 2016

block content

  include ./partials/_nav

  main.agenda-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 Agenda

    section#agenda-list

      include ../data

      .container
        .agenda-container
          #tabs
            ul
              li
                a(href='#day_1') Day 1 ( 10 / 22 )
              li
                a(href='#day_2') Day 2 ( 10 / 23 )

            each speakers, dayIndex in agendas
              div(id="#{dayIndex}")

                table.table.table-hover.mobile-visible
                  thead
                    tr
                      th(style="width:10%; min-width:80px") 時間
                      th(style="width:45%") 議程

                  tbody
                    each speaker in speakers
                      case speaker.type
                        when "break"
                          tr
                            td
                              | #{speaker.startTime}
                              br
                              | |
                              br
                              | #{speaker.endTime}
                            td.break #{speaker.agendaTitle}

                        when "single"
                          - var name = speaker.name?speaker.name:"";
                          - var image = speaker.image?speaker.image:"/dist/images/jsdc-mascot-150.jpg";
                          - var slider = speaker.slider?speaker.name:"";
                          - var youtube = speaker.youtube?speaker.youtube:"";

                          tr
                            td
                              | #{speaker.startTime}
                              br
                              | |
                              br
                              | #{speaker.endTime}
                            td.colspan
                              img.avatar.avatar-mobile(style="display: block; margin: 0 auto;", src="#{image}", alt="#{name}")
                              h6.mobile-room
                                i.fa.fa-map-marker
                                | Broadcasts in All Rooms
                              .speaker
                                h6= speaker.agendaTitle
                                if name !== ""
                                  p by #{name}
                                if slider !== ""
                                  a(href="#{slider}" target='_blank').label.label-info Slider
                                if youtube !== ""
                                  a(href="#{youtube}" target='_blank').label.label-danger Youtube

                        when "multiple"
                          - var nameA = speaker.name_A?speaker.name_A:"";
                          - var nameB = speaker.name_B?speaker.name_B:"";
                          - var imageA = speaker.image_A?speaker.image_A:"/dist/images/jsdc-mascot-150.jpg";
                          - var imageB = speaker.image_B?speaker.image_B:"/dist/images/jsdc-mascot-150.jpg";
                          - var sliderA = speaker.slider_A?speaker.slider_A:"";
                          - var sliderB = speaker.slider_B?speaker.name_B:"";
                          - var youtubeA = speaker.youtube_A?speaker.youtube_A:"";
                          - var youtubeB = speaker.youtube_B?speaker.youtube_B:"";

                          tr
                            td
                              | #{speaker.startTime}
                              br
                              | |
                              br
                              | #{speaker.endTime}
                            td.colspan
                              div
                                img.avatar.avatar-mobile(style="display: block; margin: 0 auto;", src="#{imageA}", alt="#{nameA}")
                                h6.mobile-room
                                  i.fa.fa-map-marker
                                  | International Conference Hall
                                .speaker
                                  h6= speaker.agendaTitle_A
                                  if nameA !== ""
                                    p by #{nameA}
                                  if sliderA !== ""
                                    a(href="#{sliderA}" target='_blank').label.label-info Slider
                                  if youtubeA !== ""
                                    a(href="#{youtubeA}" target='_blank').label.label-danger Youtube

                              .dividing-line

                              div
                                img.avatar.avatar-mobile(style="display: block; margin: 0 auto;", src="#{imageB}", alt="#{nameB}")
                                h6.mobile-room
                                  i.fa.fa-map-marker
                                  | 2nd Conference Room
                                .speaker
                                  h6= speaker.agendaTitle_B
                                  if nameB !== ""
                                    p by #{nameB}
                                  if sliderB !== ""
                                    a(href="#{sliderB}" target='_blank').label.label-info Slider
                                  if youtubeB !== ""
                                    a(href="#{youtubeB}" target='_blank').label.label-danger Youtube


                table.table.table-hover.hidden-xs
                  thead
                    tr
                      th(style="width:10%; min-width:80px") Time
                      th(style="width:45%") International Conference Hall R0
                      th(style="width:45%") 2nd Conference Room R2

                  tbody
                    each speaker in speakers
                      case speaker.type
                        when "break"
                          tr
                            td
                              | #{speaker.startTime}
                              br
                              | |
                              br
                              | #{speaker.endTime}
                            td.break(colspan="2") #{speaker.agendaTitle}

                        when "single"
                          - var name = speaker.name?speaker.name:"";
                          - var image = speaker.image?speaker.image:"/dist/images/jsdc-mascot-150.jpg";
                          - var slider = speaker.slider?speaker.name:"";
                          - var youtube = speaker.youtube?speaker.youtube:"";
                          - var description = speaker.description?speaker.description:"";

                          tr
                            td
                              | #{speaker.startTime}
                              br
                              | |
                              br
                              | #{speaker.endTime}
                            td.colspan.hint--top.hint--large(colspan="2" aria-label="#{description}")
                              img.avatar(src="#{image}", alt="#{name}")
                              .speaker
                                h6= speaker.agendaTitle
                                if name !== ""
                                  p by #{name}
                                if slider !== ""
                                  a(href="#{slider}" target='_blank').label.label-info Slider
                                if youtube !== ""
                                  a(href="#{youtube}" target='_blank').label.label-danger Youtube

                        when "multiple"
                          - var nameA = speaker.name_A?speaker.name_A:"";
                          - var nameB = speaker.name_B?speaker.name_B:"";
                          - var imageA = speaker.image_A?speaker.image_A:"/dist/images/jsdc-mascot-150.jpg";
                          - var imageB = speaker.image_B?speaker.image_B:"/dist/images/jsdc-mascot-150.jpg";
                          - var sliderA = speaker.slider_A?speaker.slider_A:"";
                          - var sliderB = speaker.slider_B?speaker.name_B:"";
                          - var youtubeA = speaker.youtube_A?speaker.youtube_A:"";
                          - var youtubeB = speaker.youtube_B?speaker.youtube_B:"";
                          - var descriptionA = speaker.description_A?speaker.description_A:"";
                          - var descriptionB = speaker.description_B?speaker.description_B:"";

                          tr
                            td
                              | #{speaker.startTime}
                              br
                              | |
                              br
                              | #{speaker.endTime}

                            td.colspan.hint--top.hint--large(aria-label="#{descriptionA}")
                              img.avatar(style="display: block; margin: 0 auto;", src="#{imageA}", alt="#{nameA}")
                              .speaker
                                h6= speaker.agendaTitle_A
                                if nameA !== ""
                                  p by #{nameA}
                                if sliderA !== ""
                                  a(href="#{sliderA}" target='_blank').label.label-info Slider
                                if youtubeA !== ""
                                  a(href="#{youtubeA}" target='_blank').label.label-danger Youtube

                            td.colspan.hint--top.hint--large(aria-label="#{descriptionB}")
                              img.avatar(style="display: block; margin: 0 auto;", src="#{imageB}", alt="#{nameB}")
                              .speaker
                                h6= speaker.agendaTitle_B
                                if nameB !== ""
                                  p by #{nameB}
                                if sliderB !== ""
                                  a(href="#{sliderB}" target='_blank').label.label-info Slider
                                if youtubeB !== ""
                                  a(href="#{youtubeB}" target='_blank').label.label-danger Youtube

    script.
      (function($) {

        $('#nav-agenda').addClass('active');

        if ($('#agenda-list').length){
          $(document).scroll(function () {
            var dist = $('#agenda-list').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
