extends ./layout/_en-layout.jade

block content

  main.main-page
    //- 
      name： 講者名字, title: 頭銜, image: 照片
    -
      var speakers = [
        {name: "Alex Liu",
          image: "/dist/images/speakers/alex-liu.png", title: undefined,
          github: undefined, link: undefined},
        {name: "Blake Newman",
          image: "/dist/images/speakers/blake-newman-render.png", title: undefined,
          github: undefined, link: undefined},
        {name: "Isken Huang",
          image: undefined, title: undefined,
          github: undefined, link: undefined},
        {name: "Jim",
          image: undefined, title: undefined,
          github: undefined, link: undefined},
        {name: "Lee",
          image: undefined, title: undefined,
          github: undefined, link: undefined},
        {name: "Tomas Lin",
          image: undefined, title: undefined,
          github: undefined, link: undefined},
        {name: "TonyQ",
          image: undefined, title: undefined,
          github: undefined, link: undefined},
        {name: "XP Steven",
          image: undefined, title: undefined,
          github: undefined, link: undefined},
        {name: "李成銀",
          image: "/dist/images/speakers/li-cheng-yin.png", title: undefined,
          github: undefined, link: undefined},
        {name: "洪名辰",
          image: undefined, title: undefined,
          github: undefined, link: undefined},
        {name: "保哥",
          image: undefined, title: undefined,
          github: undefined, link: undefined},
        {name: "劉艾霖",
          image: undefined, title: undefined,
          github: undefined, link: undefined}
      ];

    section#header
      .container
        .inner
          .title
            img.image.img-responsive.lazy(itemprop="image" data-original='/dist/images/jsdc-logo.png', alt='JSDC 2016')
            h2 JavaScript: in essence and in action

          .sub-title
            p Oct 22-23 2016
            span
              i.fa.fa-map-marker
              | HSS Bldg. of Academia Sinica

          ul.actions
            li
              a.button#discover(href='#activity') Buy tickets

    include ./partials/_nav

    //- 最新消息先關起來
    //- include ./partials/_news

    section#activity
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 Buy Tickets
        .row
          .col-xs-12.text-center
            iframe.kktix(frameborder="0" height="100%" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true")


    section#speakers
      #speakers-line
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 FEATURED SPEAKERS
          .col-xs-12
            .speakers-container
              .owl-carousel#speaker-carousel
                each speaker in speakers
                  .item
                    - var name = speaker.name;
                    - var image = speaker.image?speaker.image:'/dist/images/jsdc-mascot-250.jpg';
                    - var personalPageUrl = speaker.personalPageUrl?speaker.personalPageUrl:'';
                    - var github = speaker.github?speaker.github:'';

                    img.avatar.owl-lazy(data-src="#{image}", alt="#{name}")
                    .introduction
                      h4.speaker-name #{name}
                      p.project.limit #{speaker.title}
                      if personalPageUrl !== '' || github !== ''
                        .link
                          if personalPageUrl
                            a(href="#{personalPageUrl}" target="_blank")
                              i.fa.fa-link.fa-2x
                          if github
                            a(href="#{github}" target="_blank")
                              i.fa.fa-github.fa-2x

              .speaker-nav
                a.speaker-button.c-bold(href="./speakers.html" target="_blank") SPEAKERS LIST

          .col-xs-12
            //- #agenda-line
            a.agenda-button.c-bold(href="./agenda.html" target="_blank")
              i.fa.fa-bolt
              | Schedule
              i.fa.fa-bolt

    section#sponsor
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 PARTNERS

        .row
          .part_1
            .col-xs-12
              .sponsor-title
                h3 Sponsors

            .col-xs-12
              //- data-balloon-pos='down', data-balloon-length='fit', data-title='合勤控', data-balloon='合勤基金會希望將合勤投資控股公司及旗下子公司合勤科技、盟創科技等公司之共同信念─「推動創新與創業」及「力行社會公益」藉由合勤基金會的成立向外拓展，持續努力。合勤基金會主要關注「跨界創新」，與青年學子與創業家接軌，期以開拓的視野與無框架的創意思考，激發突破自我的能量與火花；並深耕「創新思維」、「創業育成」與「友善環境」三大面向，期望自己成為火種，拋磚引玉的展現回饋社會的企業精神'
              .logo
                a(href="/en/sponsors.html#sponsor-unizyx", target='_blank')
                  img(style="width: 100%;" src="/dist/images/Logo-unizyx.jpg", alt="")
            .col-xs-12
              //- data-balloon-pos='down', data-balloon-length='fit', data-title='Meetshop', data-balloon='我們想要建立一個＂活＂的電子商務平台，並執行一場電子商務的革命。我們熱愛開發、創新，喜歡做出有趣令人驚豔的服務，meepShop 朝向發展「全球化」的公司邁進，目標是成為一個國際級的品牌，如同 Google、Dropbox 等服務，這個目標需要大家團結起來支持一整個團隊。 我們希望與各界最優秀的人才一同工作，並用聰明、有效率的工作模式，與加入的夥伴一同成長。團隊擁有聰明、快速、及執行力，由比利時的 CTO 帶領程式團隊，使用最好的工具和建立高品質的程式架構。'
              .logo()
                a(href="/en/sponsors.html#sponsor-meepshop", target='_blank')
                  img(style="width: 100%;" src="/dist/images/Logo-MeepShop.png", alt="")
          //-   .col-xs-12.col-sm-6.col-md-4
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")
          //-   .col-xs-12.col-sm-6.col-md-4
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")
          //-   .col-xs-12.col-sm-6.col-md-4
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")
          //-
          //- .part_2
          //-   .col-xs-12
          //-     .sponsor-title
          //-       h3 Our Partners
          //-   .col-xs-12.col-sm-6.col-md-4
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")
          //-   .col-xs-12.col-sm-6.col-md-4
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")
          //-   .col-xs-12.col-sm-6.col-md-4
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")
          //-
          //- .part_3
          //-   .col-xs-12
          //-     .sponsor-title
          //-       h3 Special Thank
          //-
          //-   .col-xs-12.col-sm-6.col-md-3
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")
          //-   .col-xs-12.col-sm-6.col-md-3
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")
          //-   .col-xs-12.col-sm-6.col-md-3
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")
          //-   .col-xs-12.col-sm-6.col-md-3
          //-     .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
          //-       a(href="#", target='_blank')
          //-         img(src="/dist/images/logo.png", alt="")

    //- 暫時先關起來
    //- include ./partials/_major

    script.
      (function($) {
        var kktix = document.getElementsByClassName('kktix')[0];
        $(window).on('load', function() {
          if (kktix) {
            setTimeout(function(){ kktix.src = 'https://kktix.com/tickets_widget?slug=jsdc2016'; }, 0);
          }
        })

        if ($('#speakers').length){
          $(document).scroll(function () {
            var dist = $('#speakers').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
              $('.navbar').addClass('block');
            } else {
              $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
