extends ./layout/_en-layout.jade

block title
  title Speakers｜JSDC 2016

block content

  include ./partials/_nav

  main.spaekers-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 Speakers

    section#speakers-list
      //- 定義和 index.jade 講師部分相同
      -
        var speakers = [
          {name: "Alex Liu", description: undefined,
            image: "/dist/images/speakers/alex-liu.png", title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "Blake Newman", description: undefined,
            image: "/dist/images/speakers/blake-newman-render.png", title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "李成銀", description: undefined,
            image: "/dist/images/speakers/li-cheng-yin.png", title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "Isken Huang", description: undefined,
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "Jim", description: undefined,
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "Lee", description: undefined,
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "Tomas Lin", description: undefined,
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "TonyQ", description: undefined,
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "XP Steven", description: undefined,
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "洪名辰", description: undefined,
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "保哥", description: undefined,
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "劉艾霖", description: undefined,
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined}
        ];

      .container
        .row
          each speaker in speakers

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                - var image = speaker.image?speaker.image:'/dist/images/jsdc-mascot-250.jpg';
                //- data-balloon-pos='down', data-balloon-length='large', data-title='#{speaker.avatarTip}', data-balloon='#{speaker.description}'
                .avatar()
                  img.lazy(data-original="#{image}", alt="#{speaker.avatarTip}")
                .introduction
                  h4.speaker-name #{speaker.name}
                  p.project #{speaker.title}
                  if speaker.link || speaker.github
                    .link
                      if speaker.link
                        a(href="#{speaker.link}" target="_blank")
                          i.fa.fa-link
                      if speaker.github
                        a(href="#{speaker.github}" target="_blank")
                          i.fa.fa-github


    section#agenda
      #agenda-line
      .container
        .row
          .col-xs-12
            a.agenda-button.c-bold(href="/en/agenda.html" target="_blank")
              i.fa.fa-bolt
              | Agenda
              i.fa.fa-bolt

    script.
      (function($) {

        $('#nav-speakers').addClass('active');

        if ($('#speakers-list').length){
          $(document).scroll(function () {
            var dist = $('#speakers-list').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
