extends ../../views/layout/_en-layout.jade

block title
  title Sponsors 2016

block content

  include ./partials/_nav

  main.sponsors-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 Sponsors

    section#sponsor
      include ../data

      .container
        each sponsorData, level in sponsors
          article(class="sponsor-#{level}")
            .row
              .col-xs-12
                h2.sponsor-header= sponsorLevels[level].en

            each sponsor in sponsorData
              div(class="col-xs-#{sponsor.col}")
                .sponsor
                  .logo
                    img.image.lazy(style="width: 100%;" data-original="#{sponsor.image}", alt="#{sponsor.name}")
                  .info
                    h2#sponsor-meepshop= sponsor.name
                    p= sponsor.description

    script.
      (function($) {

        $('#nav-sponsors').addClass('active');

        if ($('#sponsor').length){
          $(document).scroll(function () {
            var dist = $('#sponsor').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
