extends ./layout/_en-layout.jade

block title
  title Member｜JSDC 2016

block content

  //- jobLevel = 職稱 (0 = 組長，1 = 組員)
  -
    var staffs = {
      "Coordinators": [{name: "ALi", photo: null, jobLevel: 0}],

      "Program": [
        {name: "Simon Sun", photo: "http://i.imgur.com/t5BJCas.jpg", jobLevel: 0},
        {name: "Wayne Lin", photo: "https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/22451_258750652320_1955604_n.jpg?oh=74d1fb10dfee50515a5df7d430097851&oe=580B78B1", jobLevel: 1}
      ],

      "Venue": [
        {name: "陳明正(Kevin)", photo: "https://photos-1.dropbox.com/t/2/AADIkvdaqKUYj4sKZM3ixt-2Uq6wnbpwaPrI9oLBDz4v4g/12/128133386/jpeg/32x32/3/1469484000/0/2/FB_IMG_1467036241392.jpg/EMTE1GIY08lQIAIoAg/ymP5o-5qW0sTFNvfIRrK1d3X03ee1qiiw5MRZup_sJc?size_mode=3&size=2048x1536&dl=0", jobLevel: 0}
      ],

      "Registration": [
        {name: "Ellis Chang", photo: "http://2015.jsdc.tw/images/record.jpg", jobLevel: 0}
      ],

      "Public Relation": [
        {name: "Howie Wang", photo: "https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/52805_164005803616014_913317_o.jpg", jobLevel: 0}
      ],

      "Web": [
        {name: "Webber", photo: null, jobLevel: 0},
        {name: "張雅茵", photo: "https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/11226004_1103034406382123_9175355605217942269_n.jpg?oh=79b94bedfd80925ca1a9200584abd809&oe=57E9465D", jobLevel: 1},
        {name: "Ivan Wei", photo: "https://lh3.googleusercontent.com/odv-ALh9bdTqJEp0JF9haFBRDaGgIxhAmnAhhLKYuY-8L_CL8-nBRxzjB3cO8yBQ7g82ns_D8yQU=w1280-h960-no", jobLevel: 1}
      ]
    };


  include ./partials/_nav

  main.staff-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 Members

    section#staffs
      .container

        each staffInfos, jobTitle in staffs
          article
            .row
              .col-xs-12.text-center
                header.major
                  h2= jobTitle

              each staffInfo in staffInfos
                if jobTitle === "Coordinators"
                  .col-xs-12.col-sm-6
                    .speaker
                      .avatar
                        img.lazy(data-original="#{staffInfo.photo === null?'/dist/images/jsdc-logo.png':staffInfo.photo}", alt="#{staffInfo.name}")
                      .introduction
                        h4.speaker-name= staffInfo.name
                        p.project #{staffInfo.jobLevel === 0?"Chairperson":"Vice Chairperson"}

                else
                  .col-xs-12.col-sm-6.col-md-4
                    .speaker
                      .avatar
                        img.lazy(data-original="#{staffInfo.photo === null?'/dist/images/jsdc-logo.png':staffInfo.photo}", alt="#{staffInfo.name}")
                      .introduction
                        h4.speaker-name= staffInfo.name
                        p.project #{staffInfo.jobLevel === 0?"Lead":""}





    script.
      (function($) {

        $('#nav-staffMember').addClass('active');

        if ($('#staffs').length){
          $(document).scroll(function () {
            var dist = $('#staffs').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
