extends ./layout/_layout.jade

block title
  title 議程｜JSDC 2016

block content
  include ./partials/_nav

  main.agenda-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 議程

    section#agenda-list
      //- 大 session 先註解且以 TBD 表示
      -
        var agendas = {
          "day_1": [
            {type: "break", startTime: "09:00", endTime: "09:30", agendaTitle: "報到"},
            {type: "break", startTime: "09:30", endTime: "09:40", agendaTitle: "大會開場"},
            {type: "single", startTime: "09:40", endTime: "10:30",
              name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "TBD"},
            // {type: "single", startTime: "09:40", endTime: "10:30",
            //   name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "Anglar 2 Universal"},

            {type: "break", startTime: "10:30", endTime: "10:50", agendaTitle: "點心"},
            {type: "multiple", startTime: "10:50", endTime: "11:30",
              name_A: "TonyQ", image_A: undefined, youtube_A: undefined, slider_A: undefined, agendaTitle_A: "專案技術挑選案例探討",
              name_B: "XP Steven", image_B: undefined, youtube_B: undefined, slider_B: undefined, agendaTitle_B: "超融合 React"
            },

            {type: "break", startTime: "11:30", endTime: "12:20", agendaTitle: "午餐"},
            {type: "single", startTime: "12:20", endTime: "13:10",
              name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "TBD"},
            // {type: "single", startTime: "12:20", endTime: "13:10",
            //   name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "Thinkjs"},

            {type: "break", startTime: "13:10", endTime: "13:30", agendaTitle: "休息"},
            {type: "multiple", startTime: "13:30", endTime: "14:10",
              name_A: "Isken Huang", image_A: undefined, youtube_A: undefined, slider_A: undefined, agendaTitle_A: "Weex 輕量級高性能跨終端框架",
              name_B: "Tomas Lin", image_B: undefined, youtube_B: undefined, slider_B: undefined, agendaTitle_B: "React Native - dispatch route like web uri"
            },

            {type: "break", startTime: "14:10", endTime: "14:40", agendaTitle: "下午茶"},
            {type: "multiple", startTime: "14:40", endTime: "15:20",
              name_A: "劉艾霖", image_A: undefined, youtube_A: undefined, slider_A: undefined, agendaTitle_A: "淺談使用 webdriverIO 開發 Web Test 網站自動化測試",
              name_B: undefined, image_B: undefined, youtube_B: undefined, slider_B: undefined, agendaTitle_B: "TBD"
            },

            {type: "break", startTime: "15:20", endTime: "15:40", agendaTitle: "休息"},
            {type: "multiple", startTime: "15:40", endTime: "16:20",
              name_A: "洪名辰", image_A: undefined, youtube_A: undefined, slider_A: undefined, agendaTitle_A: "Universal JavaScript?",
              name_B: undefined, image_B: undefined, youtube_B: undefined, slider_B: undefined, agendaTitle_B: "TBD"
            },

            {type: "break", startTime: "16:20", endTime: "16:40", agendaTitle: "休息"},
            {type: "single", startTime: "16:40", endTime: "17:20",
              name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "Panel"},
            {type: "break", startTime: "17:20", endTime: "18:00", agendaTitle: "散場"}
          ],
          "day_2": [
            {type: "break", startTime: "09:00", endTime: "09:30", agendaTitle: "報到"},
            {type: "break", startTime: "09:30", endTime: "09:40", agendaTitle: "大會開場"},
            {type: "single", startTime: "09:40", endTime: "10:30",
              name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "TBD"},
            // {type: "single", startTime: "09:40", endTime: "10:30",
            //   name: "Blake Newman", image: undefined, youtube: undefined, slider: undefined, agendaTitle: "How to adapt to change & exploring Vue.js"},

            {type: "break", startTime: "10:30", endTime: "10:50", agendaTitle: "點心"},
            {type: "multiple", startTime: "10:50", endTime: "11:30",
              name_A: "Sam Lee", image_A: undefined, youtube_A: undefined, slider_A: undefined, agendaTitle_A: "React Native + Redux 簡單也不簡單",
              name_B: undefined, image_B: undefined, youtube_B: undefined, slider_B: undefined, agendaTitle_B: "TBD"
            },

            {type: "break", startTime: "11:30", endTime: "12:20", agendaTitle: "午餐"},
            {type: "single", startTime: "12:20", endTime: "13:10",
              name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "TBD"},
            // {type: "single", startTime: "12:20", endTime: "13:10",
            //   name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "Netflix"},

            {type: "break", startTime: "13:10", endTime: "13:30", agendaTitle: "休息"},
            {type: "multiple", startTime: "13:30", endTime: "14:10",
              name_A: "Jim", image_A: undefined, youtube_A: undefined, slider_A: undefined, agendaTitle_A: "Date Visualization performance optmazation",
              name_B: undefined, image_B: undefined, youtube_B: undefined, slider_B: undefined, agendaTitle_B: "TBD"
            },

            {type: "break", startTime: "14:10", endTime: "14:40", agendaTitle: "下午茶"},
            {type: "multiple", startTime: "14:40", endTime: "15:20",
              name_A: undefined, image_A: undefined, youtube_A: undefined, slider_A: undefined, agendaTitle_A: "開發 Angular 2 網站好簡單之推坑就對了",
              name_B: undefined, image_B: undefined, youtube_B: undefined, slider_B: undefined, agendaTitle_B: "TBD"
            },

            {type: "break", startTime: "15:20", endTime: "15:40", agendaTitle: "休息"},
            {type: "multiple", startTime: "15:40", endTime: "16:20",
              name_A: "Lee", image_A: undefined, youtube_A: undefined, slider_A: undefined, agendaTitle_A: "NIME: 使用 nodejs 快快樂樂開發輸入法",
              name_B: undefined, image_B: undefined, youtube_B: undefined, slider_B: undefined, agendaTitle_B: "TBD"
            },

            {type: "break", startTime: "16:20", endTime: "16:40", agendaTitle: "休息"},
            {type: "single", startTime: "16:40", endTime: "17:20",
              name: undefined, image: undefined, youtube: undefined, slider: undefined, agendaTitle: "Lighting Talk"},
            {type: "break", startTime: "17:20", endTime: "18:00", agendaTitle: "散場"}
          ]
        };

      .container
        .agenda-container
          #tabs
            ul
              li
                a(href='#day_1') Day 1 ( 10 / 22 )
              li
                a(href='#day_2') Day 2 ( 10 / 23 )

            each speakers, dayIndex in agendas
              div(id="#{dayIndex}")

                table.table.table-hover.hidden-xs.agendas
                  thead
                    tr
                      th(style="width:10%; min-width:80px") 時間
                      th(style="width:45%") 國際會議廳 R0
                      th(style="width:45%") 第二會議廳 R2

                  tbody
                    each speaker in speakers
                      case speaker.type
                        when "break"
                          tr
                            td
                              | #{speaker.startTime}
                              br
                              | |
                              br
                              | #{speaker.endTime}
                            td.break(colspan="2") #{speaker.agendaTitle}

                        when "single"
                          - var name = speaker.name?speaker.name:"";
                          - var image = speaker.image?speaker.image:"/dist/images/jsdc-mascot-150.jpg";
                          - var slider = speaker.slider?speaker.name:"";
                          - var youtube = speaker.youtube?speaker.youtube:"";

                          tr
                            td
                              | #{speaker.startTime}
                              br
                              | |
                              br
                              | #{speaker.endTime}
                            td.colspan(colspan="2")
                              img.avatar(src="#{image}", alt="#{name}")
                              .speaker
                                h6= speaker.agendaTitle
                                if name !== ""
                                  p by #{name}
                                if slider !== ""
                                  a(href="#{slider}" target='_blank').label.label-info Slider
                                if youtube !== ""
                                  a(href="#{youtube}" target='_blank').label.label-danger Youtube

                        when "multiple"
                          - var nameA = speaker.name_A?speaker.name_A:"";
                          - var nameB = speaker.name_B?speaker.name_B:"";
                          - var imageA = speaker.image_A?speaker.image_A:"/dist/images/jsdc-mascot-150.jpg";
                          - var imageB = speaker.image_B?speaker.image_B:"/dist/images/jsdc-mascot-150.jpg";
                          - var sliderA = speaker.slider_A?speaker.slider_A:"";
                          - var sliderB = speaker.slider_B?speaker.name_B:"";
                          - var youtubeA = speaker.youtube_A?speaker.youtube_A:"";
                          - var youtubeB = speaker.youtube_B?speaker.youtube_B:"";

                          tr
                            td
                              | #{speaker.startTime}
                              br
                              | |
                              br
                              | #{speaker.endTime}

                            td.colspan
                              img.avatar.avatar-mutli(style="display: block; margin: 0 auto;", src="#{imageA}", alt="#{nameA}")
                              .speaker
                                h6= speaker.agendaTitle_A
                                if nameA !== ""
                                  p by #{nameA}
                                if sliderA !== ""
                                  a(href="#{sliderA}" target='_blank').label.label-info Slider
                                if youtubeA !== ""
                                  a(href="#{youtubeA}" target='_blank').label.label-danger Youtube

                            td.colspan
                              img.avatar(style="display: block; margin: 0 auto;", src="#{imageB}", alt="#{nameB}")
                              .speaker
                                h6= speaker.agendaTitle_B
                                if nameB !== ""
                                  p by #{nameB}
                                if sliderB !== ""
                                  a(href="#{sliderB}" target='_blank').label.label-info Slider
                                if youtubeB !== ""
                                  a(href="#{youtubeB}" target='_blank').label.label-danger Youtube

    style.
      @media (max-width: 767px){
        html, body {
          min-width: 500px;
          width: 500px;
        }
        main.agenda-page #agenda-list .agenda-container table tbody tr td .speaker.speaker h6 {
          line-height: 110%;
        }
        .agendas.hidden-xs {
          display: block !important;
        //-   min-width: 250px;
        }
      }
    script.
      (function($) {

        $('#nav-agenda').addClass('active');

        if ($('#agenda-list').length){
          $(document).scroll(function () {
            var dist = $('#agenda-list').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
