extends ./layout/_layout.jade

block title
  title 講者｜JSDC 2016

block content

  include ./partials/_nav

  main.spaekers-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 講者

    section#speakers-list
      //- 定義和 index.jade 講師部分相同
      -
        var speakers = [
          {name: "Alex Liu", description: "",
            image: "/dist/images/speakers/alex-liu.png", title: undefined,
            github: undefined, link: undefined, avatarTip: "Netflix"},
          {name: "Blake Newman", description: "",
            image: "/dist/images/speakers/blake-newman-render.png", title: undefined,
            github: undefined, link: undefined, avatarTip: "Sainsbury's"},
          {name: "李成銀", description: "",
            image: "/dist/images/speakers/li-cheng-yin.png", title: undefined,
            github: undefined, link: undefined, avatarTip: "奇舞團"},
          {name: "Isken Huang", description: "",
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "Jim", description: "",
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "Jose", description: "林思吾，阿物。從大學開始創業的連續創業者，現任台灣SEO領導品牌awoo台灣前進創辦人，多次代表台灣擔任SES與SMX中國站演講人，亦是台北市政府資訊局的市政顧問。他善於結合SEO與UX的策略，替客戶不僅帶來精準的流量，並且讓流量能更實際轉換成營收，進而創造出許多投資報酬率超過10的電商案例。除了在商業場域之外，他也將網路專業運用在公民參政，陸續參與了改變台灣的318學運與2014年的台灣臺北市長選舉。",
            image: "/dist/images/speakers/jose.jpg", title: undefined,
            github: undefined, link: undefined, avatarTip: "awoo台灣前進"},
          {name: "Lee", description: "",
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "Tomas Lin", description: "",
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "TonyQ", description: "",
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "Wildcat", description: "awoo 台灣前進顧問、ContentParty 合夥人、資策會 SER API 協力者",
            image: "/dist/images/speakers/wildcat.png", title: undefined,
            github: undefined, link: undefined, avatarTip: "awoo台灣前進"},
          {name: "XP Steven", description: "",
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "洪名辰", description: "",
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "保哥", description: "",
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined},
          {name: "劉艾霖", description: "",
            image: undefined, title: undefined,
            github: undefined, link: undefined, avatarTip: undefined}
        ];

      .container
        .row

          each speaker in speakers

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                - var image = speaker.image?speaker.image:'/dist/images/jsdc-mascot-250.jpg';

                if speaker.avatarTip !== undefined
                  .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='#{speaker.avatarTip}', data-balloon='#{speaker.description}')
                    img.lazy(data-original="#{image}", alt="#{speaker.avatarTip}")
                  .introduction
                    h4.speaker-name #{speaker.name}
                    p.project #{speaker.title}
                    if speaker.link || speaker.github
                      .link
                        if speaker.link
                          a(href="#{speaker.link}" target="_blank")
                            i.fa.fa-link
                        if speaker.github
                          a(href="#{speaker.github}" target="_blank")
                            i.fa.fa-github

                else
                  .avatar
                    img.lazy(data-original="#{image}", alt="#{speaker.avatarTip}")
                  .introduction
                    h4.speaker-name #{speaker.name}
                    p.project #{speaker.title}
                    if speaker.link || speaker.github
                      .link
                        if speaker.link
                          a(href="#{speaker.link}" target="_blank")
                            i.fa.fa-link
                        if speaker.github
                          a(href="#{speaker.github}" target="_blank")
                            i.fa.fa-github


    section#agenda
      #agenda-line
      .container
        .row
          .col-xs-12
            a.agenda-button.c-bold(href="/agenda.html" target="_blank")
              i.fa.fa-bolt
              | 議程表
              i.fa.fa-bolt

    script.
      (function($) {

        $('#nav-speakers').addClass('active');

        if ($('#speakers-list').length){
          $(document).scroll(function () {
            var dist = $('#speakers-list').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
