extends ./layout/_layout.jade

block title
  title 講者｜JSDC 2016

block content

  include ./partials/_nav

  main.spaekers-page
    -
      var temp = datas;
    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 講者
          div #{temp}

    section#speakers-list
      //- 定義和 index.jade 講師部分相同
      include ./data

      .container
        .row

          each speaker in speakers

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                - var image = speaker.image?speaker.image:'/dist/images/jsdc-mascot-250.jpg';

                if speaker.description !== ""
                  .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='#{speaker.avatarTip}', data-balloon='#{speaker.description}')
                    img.lazy(data-original="#{image}", alt="#{speaker.avatarTip}")
                  .introduction
                    h4.speaker-name #{speaker.name}
                    p.project() #{speaker.title}
                    if speaker.link || speaker.github || speaker.twitter
                      .link
                        if speaker.link
                          a(href="#{speaker.link}" target="_blank")
                            i.fa.fa-link
                        if speaker.facebook
                          a(href="#{speaker.facebook}" target="_blank")
                            i.fa.fa-facebook-official
                        if speaker.github
                          a(href="#{speaker.github}" target="_blank")
                            i.fa.fa-github
                        if speaker.twitter
                          a(href="#{speaker.twitter}" target="_blank")
                            i.fa.fa-twitter
                        if speaker.linkedin
                          a(href="#{speaker.linkedin}" target="_blank")
                            i.fa.fa-linkedin
                    //- 為了撐高度
                    if speaker.notSet
                      .empty-link
                else
                  .avatar
                    img.lazy(data-original="#{image}", alt="#{speaker.avatarTip}")
                  .introduction
                    h4.speaker-name #{speaker.name}
                    p.project #{speaker.title}
                    if speaker.link || speaker.github
                      .link
                        if speaker.link
                          a(href="#{speaker.link}" target="_blank")
                            i.fa.fa-link
                        if speaker.facebook
                          a(href="#{speaker.facebook}" target="_blank")
                            i.fa.fa-facebook-official
                        if speaker.github
                          a(href="#{speaker.github}" target="_blank")
                            i.fa.fa-github
                        if speaker.twitter
                          a(href="#{speaker.twitter}" target="_blank")
                            i.fa.fa-twitter
                        if speaker.linkedin
                          a(href="#{speaker.linkedin}" target="_blank")
                            i.fa.fa-linkedin
                    //- 為了撐高度
                    if speaker.notSet
                      .empty-link
    section#agenda
      #agenda-line
      .container
        .row
          .col-xs-12
            a.agenda-button.c-bold(href="/agenda.html" target="_blank")
              i.fa.fa-bolt
              | 議程表
              i.fa.fa-bolt

    script.
      (function($) {

        $('#nav-speakers').addClass('active');

        if ($('#speakers-list').length){
          $(document).scroll(function () {
            var dist = $('#speakers-list').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
