extends ./layout/_layout.jade

block title
  title 贊助夥伴｜JSDC 2016

block content

  include ./partials/_nav

  main.sponsors-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 贊助夥伴

    section#sponsor
      include ./data

      .container
        each sponsorData, level in sponsors
          article(class="sponsor-#{level}")
            .row
              .col-xs-12
                h2.sponsor-header= sponsorLevels[level].zh

            each sponsor in sponsorData
              div(class="col-sm-#{sponsor.col}")
                .sponsor
                  .logo
                    img.image.lazy(style="width: 100%;" target="_blank" href="#{sponsor.url}" data-original="#{sponsor.image}", alt="#{sponsor.name}")
                  .info
                    h2= sponsor.name
                    p= sponsor.description
                    if sponsor.name === '趨勢科技'
                      p [趨勢科技是全球雲端資安領航者]
                      p [趨勢科技企業版圖橫跨全球五大洲]
                      p [趨勢科技為亞洲與台灣最大的純軟體公司]
                      p [趨勢科技全球研發基地在台灣]
                      p [趨勢科技致力於實現更安全的數位世界]
                      p [趨勢科技致力技術創新，引領世界級技術潮流]
                      p
                        | 想成為世界級英雄團隊一員嗎? 想為數位世界安全盡一份力量嗎? 趨勢科技 是你最佳的選擇! 歡迎加入
                        a.text-info(target="_blank" href="#{sponsor.url}") 趨勢人
                        | 行列 


    script.
      (function($) {

        $('#nav-sponsors').addClass('active');

        if ($('#sponsor').length){
          $(document).scroll(function () {
            var dist = $('#sponsor').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
