extends ./layout/_layout.jade

block title
  title 工作人員｜JSDC 2016

block content

  //- jobLevel = 職稱 (0 = 組長，1 = 組員)
  -
    var staffs = {
      "召集": [
        {name: "ALi", photo: "/dist/images/members/ali.png", jobLevel: 0},
        {name: "Caesar Chi", photo: "/dist/images/members/caesar.jpg", jobLevel: 1}
      ],

      "成員": [
        {name: "Simon Sun", photo: "/dist/images/members/simon.jpg"},
        {name: "Wayne Lin", photo: "/dist/images/members/wayne.jpg"},
        {name: "陳明正(Kevin)", photo: "/dist/images/members/kevin.jpg"},
        {name: "Ellis Chang", photo: "/dist/images/members/ellis.jpg"},
        {name: "Howie Wang", photo: "/dist/images/members/howie.jpg"},
        {name: "George Shih", photo: "/dist/images/members/george.jpg"},
        {name: "Webber", photo: "/dist/images/members/webber.jpg"},
        {name: "Irene", photo: "/dist/images/members/irene.jpg"},
        {name: "Ivan Wei", photo: "/dist/images/members/ivan.jpg"}
      ]
    };

  include ./partials/_nav

  main.staff-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 工作人員

    section#staffs
      .container

        each staffInfos, jobTitle in staffs
          article
            .row
              .col-xs-12.text-center
                header.major
                  h2= jobTitle

              each staffInfo in staffInfos
                if jobTitle === "召集"
                  .col-xs-12.col-sm-6
                    .speaker
                      .avatar
                        img.lazy(data-original="#{staffInfo.photo === null?'/dist/images/jsdc-logo.png':staffInfo.photo}", alt="#{staffInfo.name}")
                      .introduction
                        h4.speaker-name= staffInfo.name
                            p.project #{staffInfo.jobLevel === 0?"總召":"顧問"}

                else
                  .col-xs-12.col-sm-6.col-md-4
                    .speaker
                      .avatar
                        img.lazy(data-original="#{staffInfo.photo === null?'/dist/images/jsdc-logo.png':staffInfo.photo}", alt="#{staffInfo.name}")
                      .introduction
                        h4.speaker-name= staffInfo.name


    script.
      (function($) {

        $('#nav-staffMember').addClass('active');

        if ($('#staffs').length){
          $(document).scroll(function () {
            var dist = $('#staffs').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
