extends ./layout/_layout.jade

block title
  title 工作人員｜JSDC 2016

block content

  //- jobLevel = 職稱 (0 = 組長，1 = 組員)
  -
    var staffs = {
      "召集": [
        {name: "ALi", photo: "/dist/images/members/ali.jpg", jobLevel: 0},
        {name: "Caesar Chi", photo: "/dist/images/members/caesar.jpg", jobLevel: 1}
      ],

      "成員": [
        {name: "Simon Sun", photo: "http://i.imgur.com/t5BJCas.jpg"},
        {name: "Wayne Lin", photo: "https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/22451_258750652320_1955604_n.jpg?oh=74d1fb10dfee50515a5df7d430097851&oe=580B78B1"},
        {name: "陳明正(Kevin)", photo: "https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p160x160/6164_10153844610900395_7790541558223085274_n.jpg?oh=03b56f3648d5335ed0bc7886572a2cd8&oe=581C0601"},
        {name: "Ellis Chang", photo: "http://2015.jsdc.tw/images/record.jpg"},
        {name: "Howie Wang", photo: "https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/52805_164005803616014_913317_o.jpg"},
        {name: "George Shih", photo: "http://2015.jsdc.tw/images/pr.jpg"},
        {name: "Webber", photo: "https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p160x160/12341135_1105783529441108_2938587828859091543_n.jpg?oh=5b8cb49841696f84023c35c803f365e8&oe=582040DD"},
        {name: "Irene", photo: "https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/11226004_1103034406382123_9175355605217942269_n.jpg?oh=79b94bedfd80925ca1a9200584abd809&oe=57E9465D"},
        {name: "Ivan Wei", photo: "https://avatars1.githubusercontent.com/u/6157049?v=3&s=460"}
      ]
    };

  include ./partials/_nav

  main.staff-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 工作人員

    section#staffs
      .container

        each staffInfos, jobTitle in staffs
          article
            .row
              .col-xs-12.text-center
                header.major
                  h2= jobTitle

              each staffInfo in staffInfos
                if jobTitle === "召集"
                  .col-xs-12.col-sm-6
                    .speaker
                      .avatar
                        img.lazy(data-original="#{staffInfo.photo === null?'/dist/images/jsdc-logo.png':staffInfo.photo}", alt="#{staffInfo.name}")
                      .introduction
                        h4.speaker-name= staffInfo.name
                            p.project #{staffInfo.jobLevel === 0?"總召":"顧問"}

                else
                  .col-xs-12.col-sm-6.col-md-4
                    .speaker
                      .avatar
                        img.lazy(data-original="#{staffInfo.photo === null?'/dist/images/jsdc-logo.png':staffInfo.photo}", alt="#{staffInfo.name}")
                      .introduction
                        h4.speaker-name= staffInfo.name


    script.
      (function($) {

        $('#nav-staffMember').addClass('active');

        if ($('#staffs').length){
          $(document).scroll(function () {
            var dist = $('#staffs').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);
